/*banner*/
.banner{
		width:100%;
		height:400px;
		position:relative; 

	}
.banner	.glide{
		height:400px;
		position:absolute;
		top:0;
		left:50%;
		margin-left:-495px;
	}
.banner	.slide{
		height:20px;
		width:128px;
		margin:10px auto;
	}
.banner ol{
		position:absolute;
		bottom:10px;
		text-align:center;
		width:100%;
		left:50%;
		margin-left:-40px;
	}
.banner ul{
	width:2000%;
	position:absolute;
	top:0;
	}
.banner ul li{
	height:400px;
	float:left;
	width:100%;
	display:inline-block;
	background:url(images/nanner.jpg) no-repeat center top;
	}
.banner ol{
	position:absolute;
	bottom:10px;
	text-align:center;
	width:100%;
	font-size:0px;
	z-index:2;
	}
.banner ol li{		
		float:left;
		height:20px;
		width:20px;
		color:#000;
		text-align:center;
		line-height:20px;
		border-radius:10px;
		margin-left:12px;
		background:rgba(255,255,255,0.5);
		cursor:pointer;
		font-size:12px;
		display:inline-block;
	}
.banner ol .current{
		color:#fff;
		background:rgba(0,128,255,0.5);
	}
.banner	.glide .case{
		width:300px;
		height:340px;
		background:#CED3D9;
		position:absolute;
		right:0;
		top:0px;
		background:rgba(0,0,0,0.5);
		color:#fff;
		font-family:"宋体","Arial";
		
	}
.banner	.glide .case .make{
		position:absolute;
		top:29px;
		left:50%;
		margin-left:-52px;
	}
.banner	.glide .case .money{
		position:absolute;
		font-size:30px;
		color:#0980DC;
		top:66px;
		left:50%;
		margin-left:-111px;
		font-family:Arial;
	}
.banner	.glide .case .income{
		position:absolute;
		top:127px;
		left:50%;
		margin-left:-44px;
	}
.banner	.glide .case .percent{
		position:absolute;
		font-size:30px;
		color:#0980DC;
		top:149px;
		left:50%;
		margin-left:-42px;
		font-family:Arial;
	}
.banner	.glide .case .box{
		height:40px;
		width:260px;
		background:#FF6400;
		position:absolute;
		top:207px;
		left:50%;
		margin-left:-130px;
		border-radius:5px;
		text-align:center;		
		line-height:40px;
		font-size:14px;
	}
.banner	.glide .case .box a{
		color:#fff;
		display:block;
		height:40px;
		width:260px;
	}
.banner	.glide .case .vip{
		position:absolute;
		top:261px;
		left:50%;
		margin-left:-95px;
		font-size:14px;
	}
.banner	.glide .case .register{
		position:absolute;
		color:#fff;
		top:261px;
		left:50%;
		font-size:14px;
		margin-left:30px;
		text-decoration:underline;
	}
.banner	.glide .case .register:hover{
		color:#349CD8;
	}
/*网页中间*/
/*最新消息*/
.news-box{
		background:#F0F4F7;
		width:100%;
		height:40px;
		border-bottom:1px solid #DDDDDD;
	}
.news-box .news{
	line-height:40px;
	}
.news-box .news h3{
		float:left;
		font-size:14px;
		
	}
.news-box .news span{
		float:left;
		font-size:14px;
	}
.news-box .news span a:hover{
		text-decoration:underline;
		color:#333;
	}
/*安全保障*/
.guarantee{
		height:225px;
	}
.guarantee .guarantee-x{
		height:225px;
	}
.guarantee .guarantee-x .major{
		width:191px;
		height:154px;
		display:inherit;
		float:left;
		margin-top:12px;
	}
.guarantee .guarantee-x .major dt a{
		height:94px;
		width:94px;
		display:block;
		text-indent:100%;
		white-space:nowrap;
		overflow:hidden;
		margin:0 auto;
		background:url(../images/major.png) no-repeat center top;
	}
.guarantee .guarantee-x .major dd{
		background:url(../images/major-1.png) no-repeat center top;
		display:block;
		width:191px;
		height:108px;
		position:relative;
	}
.guarantee .guarantee-x .major dd a{
		left:50%;
		margin-left:-32px;
		position:absolute;
		bottom:0;
	}
	
.guarantee .guarantee-x .reduce{
		width:197px;
		height:161px;
		display:inherit;
		float:left;
		margin-top:12px;
		margin-left:52px;
	}
.guarantee .guarantee-x .reduce dt a{
		height:94px;
		width:94px;
		display:block;
		text-indent:100%;
		white-space:nowrap;
		overflow:hidden;
		margin:0 auto;
		background:url(../images/reduce.png) no-repeat center top;
	}
.guarantee .guarantee-x .reduce dd{
		background:url(../images/reduce-1.png) no-repeat center top;
		display:block;
		width:197px;
		height:108px;
		position:relative;
	}
.guarantee .guarantee-x .reduce dd a{
		left:50%;
		margin-left:-32px;
		position:absolute;
		bottom:0;
	}

.guarantee .guarantee-x .safety{
		width:191px;
		height:161px;
		display:inherit;
		float:left;
		margin-top:12px;
		margin-left:52px;
	}
.guarantee .guarantee-x .safety dt a{
		height:94px;
		width:94px;
		display:block;
		text-indent:100%;
		white-space:nowrap;
		overflow:hidden;
		margin:0 auto;
		background:url(../images/safety.png) no-repeat center top;
	}
.guarantee .guarantee-x .safety dd{
		background:url(../images/safety-1.png) no-repeat center top;
		display:block;
		width:191px;
		height:108px;
		position:relative;
	}
.guarantee .guarantee-x .safety dd a{
		left:50%;
		margin-left:-32px;
		position:absolute;
		bottom:0;
	}

.guarantee .guarantee-x .profit{
		width:197px;
		height:176px;
		display:inherit;
		float:left;
		margin-top:12px;
		margin-left:52px;
	}
.guarantee .guarantee-x .profit dt a{
		height:94px;
		width:94px;
		display:block;
		text-indent:100%;
		white-space:nowrap;
		overflow:hidden;
		margin:0 auto;
		background:url(../images/profit.png) no-repeat center top;
	}
.guarantee .guarantee-x .profit dd{
		background:url(../images/profit-1.png) no-repeat center top;
		display:block;
		width:197px;
		height:108px;
		position:relative;
	}
.guarantee .guarantee-x .profit dd a{
		left:50%;
		margin-left:-32px;
		position:absolute;
		bottom:0;
	}
.guarantee .guarantee-x a:hover{
		text-decoration:underline;
	}
/*内容*/
/*内容大盒子*/
.content-box{
	height:729px;
	padding-top:40px;
	}
/*盒子版心*/
.content-box .heart{
	height:729px;
	}
/*标题*/
.content-box .heart .box{	
	border-bottom:1px solid #DDDDDD;
}
.content-box .heart .box .title .boxes-invest,.boxes-assignment{
	height:40px;
	width:114px;
	float:left;
	text-align:center;
	line-height:38px;	
	}
.content-box .heart .box .title a{
	color:#333;
	font-family:"宋体";
	font-weight:bolder;
	}
.content-box .heart .box .title  .boxes-invest:hover,.boxes-assignment:hover{
	height:38px;
	width:114px;
	border-top:2px solid #0980DC;
	}
/*小标题*/
.title-x{
	height:30px;
	border-bottom:1px solid #ddd;
	}
.title-x ul{
	
	}
.title-x ul li{
	float:left;
	font-size:14px;
	height:30px;
	line-height:30px;
	color:#999999;
	}
.title-x ul .sincere{
	margin-left:21px;
	}
.title-x ul .credit{
	margin-left:290px;
	}
.title-x ul .rate{
	margin-left:60px;
	}
.title-x ul .sum{
	margin-left:122px;
	}
.title-x ul .deadline{
	margin-left:162px;
	}
.title-x ul .plan{
	margin-left:86px;
	}
/*产品*/
.product{
	height:50px;
	border-bottom:1px dashed #ddd;
	line-height:50px;
	font-family:Arial;
	}
.product dt,dd{
	float:left;
	font-size:16px;
	color:#333333;
	padding-left:11px;
	
	}
.product .product-zero{
	background:url(../images/product.png) no-repeat;
	background-position:-0 -0;
	height:30px;
	width:245px;
	display:inline-block;
	padding-left:31px;
	line-height:30px;
	margin-top:10px;
	}
.product .product-zero:hover{
	text-decoration:underline;
	}
.product .product-one{
	height:40px;
	width:148px;
	line-height:40px;
	margin-top:10px;
	margin-left:13px;
	text-align:center;
	}
.product .product-one .x{
	background:url(../images/product.png) no-repeat;
	background-position:-0px -74px;
	width:30px;
	height:30px;
	display:inline-block;
	}
.product .product-three{
	text-align:center;
	}
.product .product-three .cash{
	width:245px;
	display:inline-block;
	}
.product .product-four{
	text-align:center;
	padding-left:0px;
	}
.product .product-four .time{
	width:150px;
	display:inline-block;	
	}
.product .product-five{
	margin-top:2.5px;
	}
.product .product-five .jd{
	width:47px;
	height:46px;
	display:block;
	background:url(../images/product.png) no-repeat;
	background-position:-0px -113px;
	
	}
.product .product-six{
	margin-top:10px;
	width:80px;
	height:30px;
	display:inline-block;
	}
.product .product-six h4{
	background:url(../images/product.png) no-repeat;
	background-position:-0px -385px;
	}
.product .product-six .bid-cash{
	height:30px;
	width:80px;
	display:inline-block;
	text-indent: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
	}
.product .product-seven{
	margin-top:10px;
	width:80px;
	height:30px;
	display:inline-block;
	}
.product .product-seven h4{
	background:url(../images/product.png) no-repeat;
	background-position:-0px -351px;
	}
.product .product-seven .bid{
	height:30px;
	width:80px;
	display:inline-block;
	text-indent: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
	}
/*查看更多*/
.more{
	height:94px;
	text-align:center;
	
	display:inline-block;
	}
.more .box{
	margin-top:20px;
	width:140px;
	height:30px;
	background:#DDDDDD;
	display:inline-block;
	line-height:30px;
	}
.more .box .look{
	width:140px;
	height:30px;
	display:block;
	color:#000;
	}
.more .box .look:hover{
	text-decoration:underline;
	color:#349CD8;
	}
/*新闻*/
.dbox{
	width:990px;
	height:180px;
	}
.xnews{
	width:480px;
	height:180px;
	float:left;
	display:inline-block;
	}
.xnews .title{
	border-bottom:1px solid #DDDDDD;
	margin-bottom:8px;
	}
.xnews .title .title-x span{
	border-bottom:2px solid #0980DC;
	font-size:16px;
	font-weight:bold;
	}
.xnews .title .even{
	float:right;
	color:#333333;
	font-size:16px;
	}
.xnews .title .even:hover{
	text-decoration:underline;
	color:#349CD8;
		}
.xnews dl dd{
	font-size:12px;
	color:#333333;
	width:480px;
	padding:0;
	padding-bottom:15px;
	}
.xnews .even-one:hover{
	text-decoration:underline;
	color:#349CD8;
	}
.xnews .title-one{
	float:right;
	}

.ynews{
	width:480px;
	height:180px;
	float:right;
	display:inline-block;
	}
.ynews .title{
	border-bottom:1px solid #DDDDDD;
	margin-bottom:8px;
	}
.ynews .title .title-x span{
	border-bottom:2px solid #0980DC;
	font-size:16px;
	font-weight:bold;
	}
.ynews .title .even{
	float:right;
	color:#333333;
	font-size:16px;
	}
.ynews .title .even:hover{
	text-decoration:underline;
	color:#349CD8;
		}
.ynews dl dd{
	font-size:12px;
	color:#333333;
	width:480px;
	padding:0;
	padding-bottom:15px;
	}
.ynews .even-one:hover{
	text-decoration:underline;
	color:#349CD8;
	}
.ynews .title-one{
	float:right;
	}
/*合作伙伴*/
.cooperation{
	height:122px;
	}
.cooperation .title{
	height:22px;
	border-bottom:1px solid #DDDDDD;
	}
.cooperation .title .partner{
	font-size:16px;
	font-weight:bold;
	float:left;
	border-bottom:2px solid #0980DC;
	}
.cooperation .title .even-partner{
	float:right;
	font-size:16px;
	}
.cooperation .title .even-partner:hover{
	text-decoration:underline;
	color:#349CD8;
		}
.cooperation .icon{
	height:104px;
	float:left;
	display:inline-block;
	width:990px;
	}
.cooperation .icon li{
	float:left;
	padding-right:15px;
	line-height:104px;
}
.cooperation .icon .eight{
	padding-right:0px;
	}